* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.bg-img-1 {
    background-image: url('/image/library.jpg');
}

.carousel-image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
